---
version: 2
updates:
  - package-ecosystem: bun
    directory: /
    schedule:
      interval: weekly
    groups:
      major:
        update-types:
          - major
      non-major:
        update-types:
          - minor
          - patch
