---
name: CI

on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
    paths:
      - "**/*.ts"
      - "**/*.md"
      - "bun.lock"
      - "bunfig.toml"
      - "package.json"
      - "tsconfig.json"
      - ".markdownlint-cli2.jsonc"
      - "!dist/**"
      - "!node_modules/**"
      - "!CHANGELOG.md"

jobs:
  test:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun ci

      - name: Run tests
        run: bun run test

      - name: Run lints
        run: bun run lint

      - name: Run build
        run: bun run build
