---
name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    if: >
      github.event_name != 'pull_request'
      || github.event.pull_request.draft == false
    permissions:
      id-token: write
      contents: read
    uses: kimzuni-labs/workflows/.github/workflows/bun-and-nodejs-lts-ci.yml@main
