---
name: Publish

on:
  workflow_dispatch:
  release:
    types:
      - published

jobs:
  publish:
    uses: kimzuni-labs/workflows/.github/workflows/npm-publish-bun.yml@main
    permissions:
      id-token: write
    with:
      tag_name: ${{ github.event.release.tag_name }}
