---
name: Publish

on:
  release:
    types:
      - published

jobs:
  parse-semver:
    uses: kimzuni-labs/workflows/.github/workflows/parse-semver.yml@main
    with:
      tag_name: ${{ github.event.release.tag_name }}
      invalid_semver_policy: pass

  publish:
    runs-on: ubuntu-latest
    needs:
      - parse-semver
    if: fromJSON(needs.parse-semver.outputs.is_valid_semver)
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
          registries: |
            ${{ inputs.registry-url }}

      - name: Update npm
        run: bun add -g npm@latest

      - name: Install dependencies
        run: bun ci

      - name: Build
        run: bun run build --if-present

      - name: Publish
        run: npm publish --access public --tag "${{ needs.parse-semver.outputs.publish_tag }}"
