---
name: Release

on:
  push:
    branches:
      - main

jobs:
  release-please:
    uses: kimzuni-labs/workflows/.github/workflows/release-please.yml@main
    permissions:
      contents: write
      issues: write
      pull-requests: write
    with:
      generate-release-notes: false

  publish:
    runs-on: ubuntu-latest
    needs:
      - release-please
    if: fromJSON(fromJSON(needs.release-please.outputs.release-please).releases_created)
    strategy:
      matrix:
        path: ${{ fromJSON(fromJSON(needs.release-please.outputs.release-please).paths_released) }}
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
          registries: |
            ${{ inputs.registry-url }}

      - name: Update npm
        run: bun add -g npm@latest

      - name: Install dependencies
        run: bun ci

      - name: Build
        working-directory: ${{ inputs.working-directory }}
        run: bun run build --if-present

      - name: Publish
        working-directory: ${{ inputs.working-directory }}
        run: npm publish --access public
